# Import the neccessary libraries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [110]:
url = 'http://books.toscrape.com/catalogue/page-1.html'

In [111]:
response = requests.get(url)

In [112]:
soup_obj = BeautifulSoup(response.text, 'html.parser')

In [113]:
titles = []
prices = []
ratings = []
availabilty = []
images = []

In [114]:
for h3 in soup_obj.find_all('h3'):
    for i in h3:
        titles.append(i.get('title'))

In [115]:
titles

['A Light in the Attic',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History of Humankind',
 'The Requiem Red',
 'The Dirty Little Secrets of Getting Your Dream Job',
 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
 'The Black Maria',
 'Starving Hearts (Triangular Trade Trilogy, #1)',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
 'Rip it Up and Start Again',
 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
 'Olio',
 'Mesaerion: The Best Science Fiction Stories 1800-1849',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

In [116]:
for price in soup_obj.find_all('p', 'price_color'):
    prices.append(price.text)

In [117]:
prices

['Â£51.77',
 'Â£53.74',
 'Â£50.10',
 'Â£47.82',
 'Â£54.23',
 'Â£22.65',
 'Â£33.34',
 'Â£17.93',
 'Â£22.60',
 'Â£52.15',
 'Â£13.99',
 'Â£20.66',
 'Â£17.46',
 'Â£52.29',
 'Â£35.02',
 'Â£57.25',
 'Â£23.88',
 'Â£37.59',
 'Â£51.33',
 'Â£45.17']

In [118]:
for rating in soup_obj.find_all('p', 'star-rating'):
    ratings.append(rating.get('class')[1])  

ratings

['Three',
 'One',
 'One',
 'Four',
 'Five',
 'One',
 'Four',
 'Three',
 'Four',
 'One',
 'Two',
 'Four',
 'Five',
 'Five',
 'Five',
 'Three',
 'One',
 'One',
 'Two',
 'Two']

In [119]:
for stock in soup_obj.find_all('p', 'instock availability'):
    availabilty.append(stock.text.strip())

In [120]:
for i in soup_obj.find_all('img'):
    images.append(i.get('src').replace('..', 'https://books.toscrape.com'))

In [121]:
images

['https://books.toscrape.com/media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg',
 'https://books.toscrape.com/media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f4a1c.jpg',
 'https://books.toscrape.com/media/cache/3e/ef/3eef99c9d9adef34639f510662022830.jpg',
 'https://books.toscrape.com/media/cache/32/51/3251cf3a3412f53f339e42cac2134093.jpg',
 'https://books.toscrape.com/media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c12a6.jpg',
 'https://books.toscrape.com/media/cache/68/33/68339b4c9bc034267e1da611ab3b34f8.jpg',
 'https://books.toscrape.com/media/cache/92/27/92274a95b7c251fea59a2b8a78275ab4.jpg',
 'https://books.toscrape.com/media/cache/3d/54/3d54940e57e662c4dd1f3ff00c78cc64.jpg',
 'https://books.toscrape.com/media/cache/66/88/66883b91f6804b2323c8369331cb7dd1.jpg',
 'https://books.toscrape.com/media/cache/58/46/5846057e28022268153beff6d352b06c.jpg',
 'https://books.toscrape.com/media/cache/be/f4/bef44da28c98f905a3ebec0b87be8530.jpg',
 'https://books.toscrape.com/media/cache/10/48/1048f63d3b5061cd2f424d20b3f9b666.jpg',
 'https://books.toscrape.com/media/cache/5b/88/5b88c52633f53cacf162c15f4f823153.jpg',
 'https://books.toscrape.com/media/cache/94/b1/94b1b8b244bce9677c2f29ccc890d4d2.jpg',
 'https://books.toscrape.com/media/cache/81/c4/81c4a973364e17d01f217e1188253d5e.jpg',
 'https://books.toscrape.com/media/cache/54/60/54607fe8945897cdcced0044103b10b6.jpg',
 'https://books.toscrape.com/media/cache/55/33/553310a7162dfbc2c6d19a84da0df9e1.jpg',
 'https://books.toscrape.com/media/cache/09/a3/09a3aef48557576e1a85ba7efea8ecb7.jpg',
 'https://books.toscrape.com/media/cache/0b/bc/0bbcd0a6f4bcd81ccb1049a52736406e.jpg',
 'https://books.toscrape.com/media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg']

In [122]:
headers = ['Title', 'Price', 'Rating', 'Availability', 'Images']

In [123]:
df = pd.DataFrame(columns=headers)
df

Empty DataFrame
Columns: [Title, Price, Rating, Availability, Images]
Index: []

In [124]:
df['Title'] = titles
df['Price'] = prices
df['Rating'] = ratings
df['Availability'] = availabilty
df['Images'] = images

df.head()

,Title,Price,Rating,Availability,Images
0,A Light in the Attic,Â£51.77,Three,In stock,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,Â£53.74,One,In stock,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,Â£50.10,One,In stock,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Â£47.82,Four,In stock,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Â£54.23,Five,In stock,https://books.toscrape.com/media/cache/be/a5/b...

In [85]:
df.shape

(1000, 5)

# Scrape entire site (All 50 pages)

In [135]:
def extract_data(x):
    for h3 in x.find_all('h3'):
        for i in h3:
            titles.append(i.get('title'))
            
    for price in x.find_all('p', 'price_color'):
        prices.append(price.text)
        
    for rating in x.find_all('p', 'star-rating'):
        ratings.append(rating.get('class')[1])
    
    for stock in x.find_all('p', 'instock availability'):
        availabilty.append(stock.text.strip())
        
    for i in x.find_all('img'):
        images.append(i.get('src').replace('..', 'https://books.toscrape.com'))

In [142]:
titles = []
prices = []
ratings = []
availabilty = []
images = []

In [143]:
urls = []
num_of_pages = 50

for i in range(1, num_of_pages+1):
    urls.append(f'http://books.toscrape.com/catalogue/page-{i}.html')

In [144]:
for i in urls:
    response = requests.get(i)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    extract_data(soup)

In [145]:
len(titles), len(prices), len(ratings), len(availabilty), len(images)

(1000, 1000, 1000, 1000, 1000)

In [146]:
headers = ['Title', 'Price', 'Rating', 'Availability', 'Images']
df = pd.DataFrame(columns=headers)
df

Empty DataFrame
Columns: [Title, Price, Rating, Availability, Images]
Index: []

In [147]:
df['Title'] = titles
df['Price'] = prices
df['Rating'] = ratings
df['Availability'] = availabilty
df['Images'] = images

df.head()

,Title,Price,Rating,Availability,Images
0,A Light in the Attic,Â£51.77,Three,In stock,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,Â£53.74,One,In stock,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,Â£50.10,One,In stock,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Â£47.82,Four,In stock,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Â£54.23,Five,In stock,https://books.toscrape.com/media/cache/be/a5/b...

In [148]:
df.tail()

,Title,Price,Rating,Availability,Images
995,Alice in Wonderland (Alice's Adventures in Won...,Â£55.53,One,In stock,https://books.toscrape.com/media/cache/96/ee/9...
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",Â£57.06,Four,In stock,https://books.toscrape.com/media/cache/09/7c/0...
997,A Spy's Devotion (The Regency Spies of London #1),Â£16.97,Five,In stock,https://books.toscrape.com/media/cache/1b/5f/1...
998,1st to Die (Women's Murder Club #1),Â£53.98,One,In stock,https://books.toscrape.com/media/cache/2b/41/2...
999,"1,000 Places to See Before You Die",Â£26.08,Five,In stock,https://books.toscrape.com/media/cache/d7/0f/d...

## Transform Phase

In [152]:
mapping = {'One':1, 'Two':2, 'Three':3, 'Four':4, 'Five':5}

In [153]:
type(mapping)

dict

In [155]:
df['Price'] = df['Price'].str.replace('Â£', '')
df['Rating'] = df['Rating'].replace(mapping)

In [156]:
df['Price'] = df['Price'].astype('float')

In [157]:
df.dtypes

Title            object
Price           float64
Rating            int64
Availability     object
Images           object
dtype: object

## Load Phase

In [159]:
df.to_csv('Books.csv', index = False)